

/* Pattern styles */


.page{
  height: 100vh;
   width: 100%;
}

.left-half {
  
  height: 100%;
   display: inline-block;
  vertical-align: top;
  width: 50%;
  
}

.right-half {
  background: #ffffff;
height: 100%;
display: inline-block;
  vertical-align: top;
  width: 50%;
}


