.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: flex;
  color: black;
  padding: 12px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.sidebar a.active {
  background-color: #FF8C00;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content-items {
  
  
  height: 100%;
  display: flex;
   align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

div.content {
  margin-left: 200px;
  
  height: 100%;
  margin-bottom: 50px;
 
}





@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  div.content-items {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

