.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebarButton {
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    
  }
  .buttonText{
    padding-left: 10px;
  }

.sidebar a {
  display: flex;
   flex-direction: row;
 color: black;
 padding: 15px;
 width: 100%;
  font-size: 15px;
 
  text-decoration: none;
   flex-direction: row;
  
  justify-content: flex-start;
}

.sidebar a.active {
  background-color: #FF8C00;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #FF8C00;
 
}

div.content-items {
  
  
  height: 100%;
  display: flex;
   align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

div.content {
  margin-left: 200px;
  
  height: 100%;
  margin-bottom: 80px;
 
}

.sidebarButton:hover {
background-color:#FF8C00 ;

cursor: pointer;
}



@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  div.content {
    margin-left: 0;
  }
  div.content-items {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

